<!doctype html>
<html lang="en" ng-app="zorkGame">
<head>
    <meta charset="utf-8">
    <title>Zork Game</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="lib/angular.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
</head>
<body>
    <div class="container" ng-controller="mainCtrl">
        <div class="page-header">
            <h1>Zork Game</h1>
            <p>Welcome to a mysterious land full of dragons, dungeons and witches! You have just entered the main castle hall. What would you like to do next?</p>
        </div>
        <div class="row">
            <div ng-repeat="cmd in commands">
                <div print-cmd-answer></div>
            </div>
        </div>
        <div class="row">
            <form>
                <label for="command" class="hide">What would you like to do?</label>
                <input type="text" id="command" ng-model="command" class="form-control" run-cmd />
            </form>
        </div>
    </div>
</body>
</html>